* {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: "Comic Neue", "Times New Roman";
}

:root {
  --loading-width: 160px;
  --loading-heigth: 23px;
}

body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
  width: 90vw;
}

.box {
  display: inline-block;
  border: solid black 4px;
  width: var(--loading-width);
  background-color: white;
}

.loading-box {
  height: var(--loading-heigth);
  width: var(--loading-width);
  background-color: rgb(37, 204, 87);
  animation: loading 5s;
}

#state-message {
  font-size: larger;
  font-weight: bold;
  color: rgb(109, 109, 109);
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: var(--loading-width);
  }
}

#title,
#result {
  margin-top: 8px;
  margin-bottom: 10px;
}

#me {
  margin-top: 8px;
  margin-bottom: 14px;
}

.box {
  margin-top: 3px;
}
